<div class="bg-white container mx-auto">
  <div class="pt-6">
    <!-- Image gallery -->
    <div class="mx-auto h-56 mt-6 w-full max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:gap-x-8 lg:px-8">
      <div
        class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg bg-gray-200 animate-pulse">
      </div>
    </div>

    <!-- Product info -->
    <div
      class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
      <!-- Placeholder for product name -->
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
      </div>

      <!-- Options -->
      <div class="mt-4 lg:row-span-3 lg:mt-0">
        <!-- Placeholder for product price -->
        <h2 class="font-medium">Product information</h2>
        <p class="text-3xl tracking-tight text-gray-900 bg-gray-200 animate-pulse"></p>

        <!-- Placeholder for options -->
        <form class="mt-10 bg-gray-200 animate-pulse">
          <!-- Placeholder for sizes -->
          <div class="mt-10">
            <!-- Placeholder for size options -->
            <fieldset class="mt-4">
              <!-- Placeholder for radio buttons -->
              <div class="grid h-56 grid-cols-4 gap-4 sm:grid-cols-8 lg:grid-cols-4">

                <!-- Repeat placeholders for other sizes -->
              </div>
            </fieldset>
          </div>

          <!-- Placeholder for Add to bag button -->
        </form>
      </div>

      <!-- Placeholder for product description, highlights, and details -->
      <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
        <div>
          <h3 class="font-medium">Description</h3>
          <div class="space-y-6 h-48 bg-gray-200 animate-pulse">
            <p class="text-base text-gray-900 bg-gray-200 animate-pulse"></p>
          </div>
        </div>


        <div class="mt-10">
          <h2 class="text-sm font-medium text-gray-900">Details</h2>
          <div class="mt-4 space-y-6 bg-gray-200 animate-pulse h-56">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
