<section class="container mx-auto px-7 pt-4 pb-12">
  <div class="w-full bg-center bg-cover rounded-3xl bg-inherit"
    style="background-image: url(https://images.pexels.com/photos/2707756/pexels-photo-2707756.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
    <div class=" items-left w-full h-full rounded-3xl
  bg-gray-900
  bg-opacity-50 py-12">
      <div class="text-left">
        <div class="container px-4 mx-auto">
          <div class="max-w-4xl mx-auto text-left">
            <h2 class="mt-8 mb-6 text-2xl lg:text-7xl font-black text-black w-20">
              LET'S EXPLORE UNIQUE CLOTHES.</h2>
            <p class="max-w-3xl  mb-10 text-lg font-light text-black">
              Live for influential and innovative fashion!
            </p>
            <a class="inline-block md:w-auto mb-4 md:mr-6 py-3 px-6 text-sm
          font-medium uppercase border-2 border-transparent bg-black rounded
          hover:bg-gray-900 text-gray-200 transition duration-200" href="#">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>