<div class="group">
  <a>
    <div
      class="aspect-h-1 aspect-w-1  overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7 h-36 w-72 animate-pulse">
      <div alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
        class="h-full w-full object-cover object-center group-hover:opacity-75"></div>
    </div>
  </a>
  <div class="flex justify-between">
    <div class="">
      <div class="w-24 mt-3 h-5 rounded-lg bg-gray-200"></div>
      <div class="w-28 mt-3 h-5 rounded-lg bg-gray-200"></div>
    </div>

    <div class="flex align-middle">
      <div type="button" class="dark_button w-16 h-9"></div>
    </div>
  </div>
</div>