<section class="bg-[#E4C643] flex flex-col md:align-middle md:text-center md:justify-center py-20">

  <div class="my-14 md:w-1/4 w-full mx-auto">

    <h2 class="text-center font-black text-3xl text-white">JOIN SHOPPING COMMUNITY TO GET MONTHLY PROMO</h2>
    <p class="text-center text-white font-normal my-5">Type your email down below and be young wild generation</p>

    <div class="bg-white w-80 h-12 flex justify-between mx-auto rounded-md">
      <input class="rounded-md focus:outline-0 ml-3" placeholder="Add your email here" type="text">
      <button class="bg-black text-white rounded-md h-5/6 my-auto mr-1 px-4">SEND</button>
    </div>

  </div>

</section>