<section class="md:container mx-auto my-20 overflow-auto">

  <h1 class="mb-3 font-black text-xl">NEW ARRIVAL</h1>
  <div class="flex overflow-x-auto">
    <app-top-collection-card class="card mr-4"></app-top-collection-card>
    <app-top-collection-card class="card mr-4"></app-top-collection-card>
    <app-top-collection-card class="card mr-4"></app-top-collection-card>
    <app-top-collection-card class="card mr-4"></app-top-collection-card>
    <app-top-collection-card class="card mr-4"></app-top-collection-card>
  </div>
</section>